<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/query_parser.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    
    <!-- JavaScripts -->
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>  
    <script type="text/javascript" src="/src/logger.js"></script>
  	<script type="text/javascript" src="/src/query_parser.js"></script>
    <script type="text/javascript" src="/src/query_segment.js"></script>
    <script type="text/javascript" src="/src/query.js"></script>
  	<script type="text/javascript" src="/src/autocompletionist.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div>
      <p>Welcome to <%= title %></p>
      <p>
        Check out the <a href="/tests">Unit Tests</a>.
      </p>
    </div>
    <form id="test-form">
      <textarea id="query-text"></textarea>
    </form>
    <div id="test-output" style="display:none;"></div>
  </body>
  <script type="text/javascript">
    var options = {
      keys: ["Bear", "Cat", "Cheetah", "Dog", "Ferret", "Fox", "Hyena", "Leopard", "Lynx", "Mongoose", "Otter", "Panda", "Raccoon", "Sea Lion", "Sea Otter", "Seal", "Tiger", "Wolf"],
      debug: true,
      outputSelector: "#test-output"
    };
    var queryParser = new QueryParser.QueryParser("#query-text", options);
  </script>
</html>